@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,700;1,400&display=swap");

$main-font: "Red Hat Text", sans-serif;
$font-norm: 400;
$font-bold: 700;

$grayish-blue: hsl(237, 18%, 59%);
$soft-red: hsl(345, 95%, 68%);

$white: #fff;
$dark-desaturated-blue: hsl(236, 21%, 26%);
$very-dark-blue: hsl(235, 16%, 14%);
$very-dark-mostly-black-blue: hsl(234, 17%, 12%);
